/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~ng-pick-datetime/assets/style/picker.min.css";

:root {
  --main-btn-color: #7964a5;
}

body {
  font-size: 14px;
}

.no-padding {
  padding: 0px;
}
